
doctype html
html(lang='en')
  include common/head.pug
  +head("Search Professionals")
  body
      header
          include common/navbar.pug
          +navbar(user)
          .container
              .row
                  .col-sm-12.offset-md-2.col-md-8
                      .jumbotron
                          h2.text-center Search Professionals
                          .row
                              .col-sm-12.col-md-12.col-xs-12
                                  form(action='/', method='POST')
                                      div.formgroup
                                          input(placeholder='Please enter the profession', required=true, name='profession', type='', value='').form-control
                                          if (errors && errors.professionals)
                                              p.small.text-danger #{errors.professionals}
                                          button.mt-3.btn.btn-primary(type='submit') Search
                                      if (userData.is_pro)
                                          h2.text-center Update Data
                                          .row
                                              .col-sm-12.col-md-12.col-xs-12
                                                  form(action='/proupdate', method='POST')
                                                      input(placeholder='Name', required=true, name='proName', type='', value='').form-control
                                                      input(placeholder='Surname', required=true, name='proSurname', type='', value='').form-control
                                                      input(placeholder='Profession', required=true, name='proProfession', type='', value='').form-control
                                                      input(placeholder='Phone number', required=true, name='proNumber', type='', value='').form-control
                                                      input(placeholder='Description', required=false, name='proDescription', type='', value='').form-control
                                                      button.mt-3.btn.btn-primary(type='submit') Update

      include common/footer.pug
      +footer()